<!-- [dataSource] proporciona un stream con los datos mas recientes que se deben renderizar -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="opd-hierarchy">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <!-- <button mat-flat-button style="border-radius: 100px" class="node-btn" (dblclick)="printName(node)">
                {{node.name}}
            </button> -->
            <mat-chip-list>
                <!-- cuando se de doble click debe mandar algo al componente padre -->
                <mat-chip color="accent" (dblclick)="enviarNodo(node)" class="node-chip">{{node.name}}</mat-chip>
            </mat-chip-list>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror" style="color:#d8d8ec">
                        {{treeControl.isExpanded(node) ? 'remove_circle_outline' : 'add_circle_outline'}}
                    </mat-icon>
                </button>
                <!-- <button mat-flat-button style="border-radius: 100px" class="node-btn" (dblclick)="printName(node)">
                    {{node.name}}
                </button> -->

                <mat-chip-list>
                    <!-- cuando se de doble click debe mandar algo al componente padre -->
                    <mat-chip color="accent" (dblclick)="enviarNodo(node)" class="node-chip">
                        {{node.name}}</mat-chip>
                </mat-chip-list>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>


            </div>
            <ul [class.opd-hierarchy-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>