.paper-container {
    position: absolute;
    height: 90%;
    overflow: hidden;
    top: 50px;  /* space for toolbar */
    left: 406px; /* space for stencil */
    right: 240px; /* space for inspector */
}

.inspector-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background-color: #383B61;
}

/*  Stencil  */
.stencil-container {
    position: absolute;
    left: 205px;
    top: 300px;
    bottom: 0;
    width: 200px;
}

.tree-view-title {
    position: absolute;
    left: 205px;
    top: 0;
    background-color: #383b61;
    width: 200px;
}

.tree-view-container {
    position: absolute;
    left: 205px;
    top: 30px;
    bottom: 325px;
    width: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.stencil-db {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}

/*  Toolbar  */
.toolbar-container {
    position: absolute;
    height: 50px;
    left: 406px; /* space for stencil */
    right: 0;
}
//406